.fiagram {
  position: relative;
  &-tools {
    width: calc(100% - 20px);
    position: absolute;
    background-color: var(--tools-bg-color);
    top: 10px;
    left: 10px;
    padding: 6px;
    font-size: 16px;
    border-radius: var(--border-radius);
    box-shadow: var(--tools-box-shadow);
    color: var(--tools-font-color);
    display: flex;
    vertical-align: center;

    &-group {
      margin-right: 8px;
      padding-right: 8px;
      border-right: 1px solid var(--tools-divider-color);
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
    }
    &-item {
      padding: 2px 4px;
      margin-right: 4px;
      transition: all .3s;
      cursor: pointer;
      border-radius: var(--border-radius);

      &.active{
        color: var(--tools-font-active-color);
        background-color: var(--tools-item-active-bg-color);
      }
      &.disabled{
        color: var(--tools-font-disabled-color);
        background-color: var(--tools-item-disabled-bg-color);
        cursor: not-allowed;
      }
      &:hover:not(.active):not(.disabled) {
        color: var(--tools-font-hover-color);
        background-color: var(--tools-item-hover-bg-color);
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &.vertical {
      width: auto;
      flex-direction: column;
      .fiagram-tools {
        &-group {
          display: flex;
          flex-direction: column;
          border-right: none;
          padding-right: 0;
          margin-right: 0;
          margin-bottom: 8px;
          padding-bottom: 8px;
          border-bottom: 1px solid var(--tools-divider-color);
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
        }
        &-item {
          margin-right: 0;
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.left-top {
      top: 54px;
      left: 10px;
    }
  }
}
